<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {% if request.user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'signout' %}"><h3>Signout</h3></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signin' %}">Signin</a>
      </li>
      {% endif %}
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link" href="{% url 'list' %}"><h4>{{ request.user }}</h4></a>
    </form>

  </div>
</nav>
